PORT=3002
SERVICE_NAME=product-service
NODE_ENV=development
LOG_LEVEL=info

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sukcommerce_products
DB_USER=postgres
DB_PASSWORD=postgres
DB_MAX_CONNECTIONS=20

ES_HOST=http://localhost:9200

REDIS_URL=redis://localhost:6379

RABBITMQ_URL=amqp://localhost:5672
