PORT=3004
SERVICE_NAME=payment-service

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sukcommerce
DB_USER=postgres
DB_PASSWORD=postgres

STRIPE_SECRET_KEY=sk_test_YourStripeSecretKeyHere
STRIPE_WEBHOOK_SECRET=whsec_YourWebhookSecretHere

ALIPAY_APP_ID=your_alipay_app_id
ALIPAY_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\nYour Private Key Here\n-----END RSA PRIVATE KEY-----

RABBITMQ_URL=amqp://localhost
