PORT=3003
SERVICE_NAME=order-service

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sukcommerce
DB_USER=postgres
DB_PASSWORD=postgres
DB_POOL_SIZE=10

REDIS_URL=redis://localhost:6379/0

RABBITMQ_URL=amqp://guest:guest@localhost:5672

PRODUCT_SERVICE_URL=http://product-service:3002
PAYMENT_SERVICE_URL=http://payment-service:3004
